* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.title-block {
  position: relative;
  padding-left: 20px;
}

.title-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 100%;
  background: #dcb558;
}

.title, .subtitle {
  font-family: "Playfair Display";
  font-weight: 400;
}

.title {
  font-size: 30.89px;
  line-height: 145.16025%;
  color: #000;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}

.subtitle {
  font-size: 20.92px;
  line-height: 147.65774%;
  color: #b9b9b9;
  width: 60%;
}

@media (max-width: 900px) {
  .subtitle {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 12px;
  }
}

.btn {
  width: 181px;
  height: 50px;
  background: #e8bf5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  border-radius: 25px;
  font-family: "Playfair Display";
  font-size: 16px;
  text-transform: capitalize;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  position: relative;
  z-index: 1;
  color: #000;
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 25px;
}

.header__logo span {
  color: #e8bf5d;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 2;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #87509c;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 1;
  }
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__list li {
  position: relative;
  padding: 16px 11px;
}

.header__list li:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #e8bf5d;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
  }
}

.header__link {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.header__title {
  margin: 0 0 60px 0;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  margin: 90px 0 0 0;
  padding: 0 0 142px 0;
}

@media (max-width: 767px) {
  .main-block {
    margin: 50px 0 0 0;
  }
}

@media (max-height: 767px) {
  .main-block {
    padding: 0 0 80px 0;
  }
}

@media (max-height: 640px) {
  .main-block {
    padding: 0 0 45px 0;
  }
}

.main-block__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 970px;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-block__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 580px) {
  .main-block__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-block__bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(transparent, #000);
  opacity: 0.8;
}

.main-block__title-block::before {
  background: #fff;
}

@media (max-width: 580px) {
  .main-block__title-block {
    margin: 0 0 30px 0;
  }
}

.main-block__title, .main-block__subtitle {
  color: #fff;
}

.main-block__title {
  font-family: "Playfair Display";
  font-size: 65px;
  line-height: normal;
}

@media (max-width: 767px) {
  .main-block__title {
    font-size: 50px;
  }
}

@media (max-width: 640px) {
  .main-block__title {
    font-size: 40px;
  }
}

@media (max-width: 580px) {
  .main-block__title {
    font-size: 30px;
  }
}

.main-block__subtitle {
  font-size: 31px;
  line-height: 116.12903%;
}

@media (max-width: 580px) {
  .main-block__subtitle {
    font-size: 20px;
  }
}

.title-content {
  font-family: "Playfair Display";
  font-size: 21px;
  line-height: 147.61905%;
}

.about {
  padding: 100px 0 80px 0;
}

.about__container {
  max-width: 1100px;
}

.about__title-block {
  margin: 0 0 65px 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__history {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51.45455%;
          flex: 0 0 51.45455%;
}

.about__title-content {
  margin: 0 0 30px 0;
}

@media (max-width: 1024px) {
  .about__title-content {
    text-align: center;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px;
}

.about__year {
  font-size: 21px;
  line-height: 147.61905%;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

.about__year-text {
  font-size: 16px;
  line-height: 131.25%;
}

@media (max-width: 600px) {
  .about__year-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about__year-text {
    font-size: 12px;
  }
}

.about__expertise {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45.45455%;
          flex: 0 0 45.45455%;
}

.about__text {
  font-size: 14px;
  line-height: 221.42857%;
  color: #666666;
}

@media (max-width: 1024px) {
  .about__text {
    text-align: justify;
  }
}

@media (max-width: 1024px) {
  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
