@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.title, .subtitle, .main-block__title, .main-block__subtitle {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.active.title, .active.subtitle, .active.main-block__title, .active.main-block__subtitle {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.title-block {
  position: relative;
  padding-left: 20px;
}

.title-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 100%;
  background: #dcb558;
}

.title, .subtitle {
  font-family: "Playfair Display";
  font-weight: 400;
}

.title {
  font-size: 30.89px;
  line-height: 145.16025%;
  color: #000;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}

.subtitle {
  font-size: 20.92px;
  line-height: 147.65774%;
  color: #b9b9b9;
  width: 64%;
}

@media (max-width: 900px) {
  .subtitle {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 12px;
  }
}

.btn {
  width: 181px;
  height: 50px;
  background: #e8bf5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  border-radius: 25px;
  font-family: "Playfair Display";
  font-size: 16px;
  text-transform: capitalize;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.header::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  position: relative;
  z-index: 10;
  color: #000;
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 25px;
}

.header__logo span {
  color: #e8bf5d;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 10;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 1;
  }
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__list li {
  position: relative;
  padding: 16px 11px;
}

.header__list li:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #e8bf5d;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
  }
}

.header__link {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header__link {
    color: #fff;
  }
}

.header__title {
  margin: 0 0 60px 0;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  margin: 90px 0 0 0;
  padding: 0 0 142px 0;
}

@media (max-width: 767px) {
  .main-block {
    margin: 50px 0 0 0;
  }
}

@media (max-height: 767px) {
  .main-block {
    padding: 0 0 80px 0;
  }
}

@media (max-height: 640px) {
  .main-block {
    padding: 0 0 45px 0;
  }
}

.main-block__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 970px;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-block__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 580px) {
  .main-block__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-block__bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(transparent, #000);
  opacity: 0.8;
}

.main-block__title-block::before {
  background: #fff;
}

@media (max-width: 580px) {
  .main-block__title-block {
    margin: 0 0 30px 0;
  }
}

.main-block__title, .main-block__subtitle {
  color: #fff;
}

.main-block__title {
  font-family: "Playfair Display";
  font-size: 65px;
  line-height: normal;
}

@media (max-width: 767px) {
  .main-block__title {
    font-size: 50px;
  }
}

@media (max-width: 640px) {
  .main-block__title {
    font-size: 40px;
  }
}

@media (max-width: 580px) {
  .main-block__title {
    font-size: 30px;
  }
}

.main-block__subtitle {
  font-size: 31px;
  line-height: 116.12903%;
}

@media (max-width: 580px) {
  .main-block__subtitle {
    font-size: 20px;
  }
}

.title-content {
  font-family: "Playfair Display";
  font-size: 21px;
  line-height: 147.61905%;
}

.text-content {
  font-size: 14px;
  line-height: 221.42857%;
  color: #666666;
}

.about {
  padding: 100px 0 80px 0;
}

.about__title-block {
  margin: 0 0 65px 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__history {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51.45455%;
          flex: 0 0 51.45455%;
}

.about__title-content {
  margin: 0 0 30px 0;
}

@media (max-width: 1024px) {
  .about__title-content {
    text-align: center;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px;
}

.about__year {
  font-size: 21px;
  line-height: 147.61905%;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

.about__year-text {
  font-size: 16px;
  line-height: 131.25%;
}

@media (max-width: 600px) {
  .about__year-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about__year-text {
    font-size: 12px;
  }
}

.about__expertise {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45.45455%;
          flex: 0 0 45.45455%;
}

@media (max-width: 1024px) {
  .about__text {
    text-align: justify;
  }
}

@media (max-width: 1024px) {
  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.practice {
  background: #000;
  padding: 100px 0 35px 0;
}

.practice__title-block {
  margin: 0 0 100px 0;
}

.practice__content {
  padding: 0 0 0 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .practice__content {
    padding: 0;
  }
}

.practice__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46.956%;
          flex: 0 0 46.956%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 65px 0;
}

@media (max-width: 1024px) {
  .practice__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.practice__icon {
  margin: 0 30px 0 0;
}

.practice__icon i {
  color: #e8bf5d;
  font-size: 45px;
}

@media (max-width: 540px) {
  .practice__icon {
    margin: 0 15px 0 0;
  }
  .practice__icon i {
    font-size: 30px;
  }
}

.practice__title-content {
  margin: 0 0 15px 0;
}

@media (max-width: 540px) {
  .practice__title-content {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .practice__text-content {
    font-size: 12px;
  }
}

.practice__title, .practice__title-content, .practice__text-content {
  color: #fff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lawyers {
  padding: 100px 0 80px 0;
}

.lawyers__title-block {
  margin: 0 0 65px 0;
}

@media (max-width: 560px) {
  .lawyers__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lawyers__column {
  margin: 0 0 20px 0;
}

.lawyers__img img {
  width: 100%;
}

@media (max-width: 560px) {
  .lawyers__title-content, .lawyers__text-content {
    text-align: center;
  }
}

.feedback {
  padding: 100px 0 100px 0;
  position: relative;
  z-index: 1;
}

.feedback__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.feedback__bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.95;
}

.feedback__title-block {
  margin: 0 0 70px 0;
}

.feedback__title, .feedback__title-content, .feedback__text-content {
  color: #fff;
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 22px 0;
}

@media (max-width: 1024px) {
  .feedback__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feedback__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.624%;
          flex: 0 0 31.624%;
  margin: 0 70px 0 22px;
  position: relative;
}

@media (max-width: 1024px) {
  .feedback__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 36.853%;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 767px) {
  .feedback__img {
    width: 80%;
  }
}

.feedback__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e8bf5d;
}

@media (max-width: 1024px) {
  .feedback__img::before {
    content: none;
  }
}

.feedback__img img {
  width: 100%;
  position: relative;
  z-index: 3;
  top: -21px;
  left: -21px;
}

@media (max-width: 1024px) {
  .feedback__img img {
    width: 100%;
    top: 0;
    left: 0;
  }
}

@media (max-width: 1024px) {
  .feedback__title-content {
    text-align: center;
  }
}

.feedback__text-content {
  position: relative;
  margin: 0 0 40px 0;
}

@media (max-width: 1024px) {
  .feedback__text-content {
    text-align: justify;
  }
}

.feedback__text-content::before {
  content: '“';
  position: absolute;
  top: 13px;
  left: -40px;
  font-size: 96.28px;
  font-family: "Playfair Display";
  opacity: 0.25;
}

.feedback__text-content_label {
  margin: 0;
}

.feedback__text-content_label::before {
  content: none;
}

@media (max-width: 1024px) {
  .feedback__text-content_label {
    text-align: center;
  }
}

.feedback__slider .slick-list {
  overflow: hidden;
}

.feedback__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__slider .slick-dots {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__slider .slick-dots li {
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 7px 0 0;
}

.feedback__slider .slick-dots li.slick-active {
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 0 5px 0 0;
}

.feedback__slider .slick-dots button {
  font-size: 0;
}

.publications {
  padding: 100px 0 68px 0;
}

.publications__title-block {
  margin: 0 0 70px 0;
}

@media (max-width: 767px) {
  .publications__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.publications__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.624%;
          flex: 0 0 31.624%;
}

@media (max-width: 767px) {
  .publications__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 480px) {
  .publications__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.publications .item-publications {
  padding: 0 0 30px 0;
  border-bottom: 3px solid #e8bf5d;
}

.publications__img {
  margin: 0 0 30px 0;
}

.publications__img img {
  width: 100%;
}

.publications__title-block-content {
  margin: 0 0 35px 0;
}

.publications__subtitle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.publications__subtitle-content > * {
  font-size: 16px;
}

.publications__name span {
  font-style: italic;
  color: #666666;
}

.publications__date {
  color: #666666;
}

.publications__text-content {
  margin: 0 0 35px 0;
}

.publications__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.publications__item-footer a {
  color: #000;
  font-size: 16px;
}

.faq {
  padding: 100px 0 170px 0;
  background: #000;
}

.faq__title-block {
  margin: 0 0 90px 0;
}

.faq__title {
  color: #fff;
}

.faq__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .faq__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.faq__tabs-triggers {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.377%;
          flex: 0 0 48.377%;
  margin: 0 34px 0 0;
}

@media (max-width: 900px) {
  .faq__tabs-triggers {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 0 30px 0;
  }
}

.faq__tabs-triggers-item {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 0 0 16px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e8bf5d;
}

.faq__tabs-triggers-item::after {
  font-family: "FontAwesome";
  content: '\f067';
  position: absolute;
  bottom: 15px;
  right: 2px;
  color: #fff;
}

@media (max-width: 480px) {
  .faq__tabs-triggers-item::after {
    content: none;
  }
}

.faq__tabs-triggers-item.active {
  color: #e8bf5d;
}

.faq__tabs-triggers-item.active::after {
  font-family: "FontAwesome";
  content: '\f068 ';
  position: absolute;
  bottom: 15px;
  right: 2px;
  color: #fff;
}

@media (max-width: 480px) {
  .faq__tabs-triggers-item.active::after {
    content: none;
  }
}

.faq__tabs-triggers-item:last-child {
  margin: 0;
}

.faq .faq__tabs-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46.297%;
          flex: 0 0 46.297%;
  background: #e8bf5d;
  padding: 43px 45px 70px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 12px 40px 0px rgba(216, 178, 87, 0.32);
          box-shadow: 0px 12px 40px 0px rgba(216, 178, 87, 0.32);
}

@media (max-width: 900px) {
  .faq .faq__tabs-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.faq__item {
  display: none;
}

.faq__item.active {
  display: block;
}

.faq .faq__text-content {
  color: #000;
}

.contact {
  padding: 100px 0 76px 0;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 870px;
  margin: 0 auto;
  padding: 50px 35px 50px 50px;
  -webkit-box-shadow: 0px 12px 40px 0px rgba(104, 86, 42, 0.1);
          box-shadow: 0px 12px 40px 0px rgba(104, 86, 42, 0.1);
}

@media (max-width: 800px) {
  .contact__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact__input, .contact__textarea {
  display: block;
  width: 100%;
  padding: 0 0 9px 0;
  font-size: 14px;
  font-style: italic;
  border-bottom: 1px solid #d6d6d6;
}

.contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
  color: #d6d6d6;
}

.contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
  color: #d6d6d6;
}

.contact__input::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
  color: #d6d6d6;
}

.contact__input::placeholder, .contact__textarea::placeholder {
  color: #d6d6d6;
}

.contact__inputs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44.586%;
          flex: 0 0 44.586%;
  margin: 0 30px 0 0;
}

@media (max-width: 800px) {
  .contact__inputs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 0 30px 0;
  }
}

.contact__input {
  margin: 0 0 37px 0;
}

.contact__textarea {
  resize: none;
  height: 80px;
  margin: 0 0 32px 0;
}

@media (max-width: 800px) {
  .contact__btn {
    margin: 0 auto;
  }
}

.contact__address {
  position: relative;
}

@media (max-width: 800px) {
  .contact__address {
    margin: 0 auto;
  }
}

.contact__address::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e8bf5d;
}

@media (max-width: 800px) {
  .contact__address::after {
    content: none;
  }
}

.contact__address img {
  position: relative;
  width: 100%;
  z-index: 3;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.contact__address img:hover {
  -webkit-transform: translate(24px, -24px);
          transform: translate(24px, -24px);
}

@media (max-width: 800px) {
  .contact__address img:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.footer {
  background: #000;
  padding: 32px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__copyright, .footer__social {
  font-size: 16px;
  color: #fff;
}

@media (max-width: 420px) {
  .footer__copyright {
    margin: 0 0 20px 0;
  }
}

.footer__social {
  padding: 0 68px 0 0;
}

@media (max-width: 580px) {
  .footer__social {
    padding: 0;
  }
}

.footer__social i {
  margin: 0 10px;
}
